section.newReleasesContainer {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  gap: 25px;

  max-width: 100%;
  overflow: hidden;
  margin-block-end: 62px;

  animation: scrolling-text 25s infinite linear;

  @keyframes scrolling-text {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
