$black-primary: #141414; // Use for app background color
$black-secondary: #111827; // Use for texts over buttons (which use $yellow-primary) as background color
$gray-primary: #d1d5db; // Use for AppHeader cmp links seperator
$gray-secondary: #374151; // Use for AppHeader cmp bottom box shadow
$white-primary: #ffffff; // Use for texts over black background
$white-secondary: #9ca3af; // Use for copyright text
$yellow-primary: #faff00; // Use for special elements on page (buttons, costs, keep-in-touch cmp background)
$purple-primary: #9747ff; // Use for pentagon shape, our-advantages cmp shapes, keep-in-touch cmp arrow shape
$orange-primary: #ffa800; // Use for hero square shape, new release cmp seperator, keep-in-touch square shape
