@import "../../../assets/styles/base/typography";
@import "../../../assets/styles/vars/color";
@import "../../../assets/styles/mixins/app-layout";

.appHeroContainer {
  background-image: url("../../../assets/images/layout/app-hero-pentagon.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 300px;
  color: $white-primary;
  padding-block-start: 10rem;

  .contentContainer {
    position: relative;
    grid-column: 2/3;
    padding-block-end: 480px;

    h1 {
      font-weight: 500;
      font-size: 130px;
      line-height: 165px;
      letter-spacing: -1px;
      margin-block-end: 30px;
    }

    .mainDescription {
      font-size: 28px;
      line-height: 42px;
      margin-block-end: 60px;
      width: 721px;
    }

    h2 {
      position: relative;
      z-index: 5;

      font-weight: 500;
      font-size: 60px;
      line-height: 84px;
      margin-block-end: 40px;
      width: 1096px;

      &::before {
        position: absolute;
        top: 30px;
        left: -90px;
        z-index: -1;

        display: inline-block;
        content: " ";
        background-color: $orange-primary;
        width: 135px;
        height: 135px;
        transform: rotate(-60deg);
      }
    }

    .secondaryDescription {
      font-size: 28px;
      line-height: 39.2px;
      width: 1093px;
    }

    .musician {
      position: absolute;
      right: 0;
      bottom: 90px;
    }

    .star {
      position: absolute;
      top: 882px;
      right: -100px;
    }

    .circleTextContainer{
        position: absolute;
        top: 30%;
        right: 20%;

        .circleText {
          text {
            fill: $white-primary;
            font-size: 22px;
            letter-spacing: -1px;
          }
        }
    }
  }
}
